marquee{
  font-size: 30px;
  font-weight: 800;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .container {
    position: relative;
    width: 90%;
    padding: 10px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #829CD0;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #000B4F;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: #58184f81;
  }
  .container .overlay .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .one {
    background-color: #20368f;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: #581845;
  }
  .two {
    background-color: #20368f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: auto;
    box-shadow: #581845;
  }
  .three {
    background-color: #20368f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: auto;
    box-shadow: #581845;
  }
  .four {
    background-color: #20368f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: auto;
    box-shadow: #581845;
  }
  .five {
    background-color: #20368f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: auto;
    box-shadow: #581845;
  }
  .six {
    background-color: #20368f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: auto;
    box-shadow: #581845;
  }
  img {
    height: 150px;
    width: 150px;
    align-content: center;
  }
  
  body {
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background-color: #829CD0;
    cursor: crosshair;
    color: white;
    padding: 10px;
  }
  h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #829CD0;
    padding: 10px;
  }
  footer {
    text-align: center;
    padding: 10px;
  }
  
  @media only screen and (min-width: 600px) {
  }
  